@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
html,
body {
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  background-color: #f6f7fc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header-dummy {
  display: flex;
  width: 100%;
  height: 50px;
}

.header-wrapper,
.footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: white;
  justify-content: center;
  /* transition: margin-top 0.8s; */
}

.header-wrapper {
  animation: 0.5s ease-out 0s 1 slideInFromTop;
  z-index: 2;
}

.header {
  display: flex;
  width: 70%;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  height: 40px;
}
.bell-icon {
  height: 20px;
  opacity: 0.4;
}
.bell-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}
.header-icons {
  display: flex;
  align-items: center;
}
.profile-icon {
  background-color: slateblue;
  margin-left: 20px;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-icon:hover {
  background-color: rgb(60, 51, 117);
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 15%;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li > span {
  color: #b0b0b0;
  display: block;
  padding: 10px;
  text-align: center;
}

.dropdown-content li a:hover {
  background-color: #c6c6c6;
}

.underline {
  position: relative;
  margin: 3px;
}

.underline:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 2px;
  background-color: #b0b0b0;
  width: 100%;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.content {
  width: 70%;
  height: 80%;
}

.btn-join {
  font: 1.6em;
  border-radius: 8%;
  width: 40%;
  padding: 15px;
  margin: auto;
  background-color: #81c3d7;
  color: #ffffff;
  border: none;
}

.btn-join:hover {
  background-color: #4d7581;
}

/* Cards without content */

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: red;
}

.right-outer-area {
  background-color: green;
}

.left-outer-area {
  background-color: grey;
}

.right-outer-area,
.left-outer-area {
  height: 100%;
  width: 50%;
  display: flex;
}

.right-outer-area {
  flex-direction: column;
}

.column-item-first,
.column-item-second {
  width: 50%;
  height: 100%;
  display: flex;
}

.column-item-first {
  background-color: yellow;
  flex-direction: column;
}

.column-item-second {
  flex-direction: column;
  background-color: black;
}

.row-item-first,
.row-item-second {
  display: flex;
  width: 100%;
  /* height: 50%; */
}

.row-item-first {
  background-color: lightgoldenrodyellow;
  flex: 1;
}

.row-item-second {
  background-color: blue;
  flex: 2;
}

.academy-item {
  position: relative;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.academy-item:hover .academy-cover {
  margin-left: 100%;
}

.academy-cover,
.academy-content {
  width: 100%;
  height: 100%;
}

.academy-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  top: 0;
}

.academy-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #82ac9f;
  transition: 0.5s;
}

.qa-item {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 50%;
  /* margin-right: 0; */
}

.qa-item:hover .qa-cover {
  transform: scale(0, 0);
}

.qa-cover,
.qa-content {
  width: 100%;
  height: 100%;
}

.qa-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;
}

.qa-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #82c09a;
  color: #fff;
  font-size: 2.5em;
  transition: 0.5s;
}

.js-item {
  position: relative;
  overflow: hidden;

  width: 100%;
  flex: 3;
}

.js-item:hover .js-cover {
  transform: scale(-1, 0);
}

.js-cover,
.js-content {
  width: 100%;
  height: 100%;
}

.js-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;
}

.js-cover {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: 1;
  background-color: #829298;
  color: #111;
  font-size: 5em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  transition: 0.5s;
}

.java-item {
  position: relative;
  overflow: hidden;

  width: 100%;
  flex: 1;
  background-color: orange;
}

.java-item:hover .java-cover {
  transform: rotate(90deg) scale(0, 0);
}

.java-cover,
.java-content {
  width: 100%;
  height: 100%;
}

.java-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;
}

.java-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #2f6690;
  color: #fff;
  font-size: 2.5em;
  transition: 0.5s;
}

.php-item {
  position: relative;
  overflow: hidden;

  width: 100%;
}

.php-item:hover .php-cover {
  opacity: 0;
}

.php-cover,
.php-content {
  width: 100%;
  height: 100%;
}

.php-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: hidden;
  transition: 0.5s;
}

.php-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #efc88b;
  font-size: 5.5em;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  transition: 0.5s;
}

.info-column {
  height: 100%;
  background-color: red;
  flex: 2;

  display: flex;
  flex-direction: column;
}

.dotnet-item {
  position: relative;
  overflow: hidden;

  height: 100%;
  flex: 3;
}

.dotnet-item:hover .dotnet-cover {
  transform: rotate(90deg) scale(0, 0);
}

.dotnet-cover,
.dotnet-content {
  width: 100%;
  height: 100%;
}

.dotnet-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;
}

.dotnet-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #81c3d7;
  color: #34443f;
  font-size: 2.5em;
  transition: 0.5s;
}

.events-item {
  position: relative;
  overflow: hidden;

  width: 100%;
  flex: 2;
}

.events-item:hover .events-cover {
  transform: rotate(-360deg) scale(0, 0);
}

.events-cover,
.events-content {
  width: 100%;
  height: 100%;
}

.events-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;
}

.events-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #82ac9f;
  color: #334e56;
  font-size: 2em;
  transition: 0.5s;
}

.blog-item {
  position: relative;
  overflow: hidden;

  width: 100%;
  flex: 2;
}

.blog-item:hover .blog-cover {
  margin-left: 100%;
}

.blog-cover,
.blog-content {
  width: 100%;
  height: 100%;
}

.blog-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;
}

.blog-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #41604d;
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
}

.contacts-item {
  position: relative;
  overflow: hidden;

  width: 100%;
  flex: 1;
}

.contacts-item:hover .contacts-cover {
  margin-left: 100%;
}

.contacts-cover,
.contacts-content {
  width: 100%;
  height: 100%;
}

.contacts-content {
  font-size: 0.9em;
  font-weight: 700;
  padding: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  background-color: white;
  top: 0;
  overflow: scroll;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
  background-color: #829298;
  color: #fff;
  font-size: 2em;
  transition: 0.5s;
}

.fa {
  padding: 8px;
  width: 12px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-instagram {
  background: #55acee;
  color: white;
}

.footer {
  display: flex;
  align-items: flex-end;
}

.footer p {
  margin-bottom: 15px;
}

.message {
  display: flex;
  position: absolute;
  opacity: 0.8;
  z-index: 2;
  width: 180px;
  height: 70px;
  border-radius: 7%;
  margin: 20px;
  transition: 0.5s;
  align-items: center;
  justify-content: space-around;
}

.message img {
  width: 15px;
  height: 15px;
}

.message-wrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  font-family: "Arial";
  color: #fff;
  font-size: 0.8em;
}

.message:hover {
  opacity: 1;
}

.message-header {
  font-weight: 900;
  margin-bottom: 7px;
}

.message-error {
  background-color: #db162f;
  bottom: 15%;
  right: 5px;
}

.message-success {
  background-color: #678d58;
  bottom: 2%;
  right: 5px;
}
/* Media requests */
@media (min-width: 150px) and (max-width: 950px) {
  .cards {
    flex-direction: column;
  }
  .left-outer-area {
    width: 100%;
  }
  .right-outer-area {
    width: 100%;
  }
}
